ul.nav-ul {
  display: flex;
  flex-direction: row;
}

ul.nav-ul li {
  padding-right: 3em;
  font-size: 1em;
  color: #0065c1;
  font-weight: bold;
}

p.logo-style-secondary {
  color: #0065c1;
  font-weight: bold;
}
